$bgcolor: #0a0e34;
$spancolor: #ffffff;
$pcolor: #000000;
$h1color: #e7e7e7;
$h2h3color:  #c1c1c1;
$h4color: #ffffff;

$fontsizetext: 14px;
$lineheight: 34px;
$texttransform: uppercase;
$fontweight: 300;

$bgrepeat: no-repeat;