@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../font/subset-ProximaNova-Regular.eot');
    src: url('..font/subset-ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('..font/subset-ProximaNova-Regular.woff2') format('woff2'),
        url('..font/subset-ProximaNova-Regular.woff') format('woff'),
        url('../font/subset-ProximaNova-Regular.ttf') format('truetype'),
        url('../font/subset-ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import 'variables';
@import 'reset';
* {
    box-sizing: border-box;
}
body {
    font-family: 'Proxima Nova Rg';
}
.container {
    max-width: 1532px;
    margin: 0px auto;
}
%bgcolorfon {
    background-color: $bgcolor;
}
.header {
    @extend %bgcolorfon;
    @extend %bgrepeat;

    background-image: url('../images/football.png');
    background-size: cover;
    padding: 54px 12px 110px 12px;
}

%displaycolumn {
    display: $displaycolumn;
    flex-direction: $displaycolumn;
}
%displayrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-display {
    @extend %displayrow;

    align-items: center;
    margin-top: 53px;
}
%spancolor {
    color: $spancolor;
}
%h2h3color {
    color: $h2h3color;
}
%fontsizetext {
    font-size: $fontsizetext;
}
%lineheight {
    line-height: $lineheight;
}
%texttransform {
    text-transform: $texttransform;
}
%fontweight {
    font-weight: 300;
}
%bgrepeat {
    background-repeat: no-repeat;
}
%pcolor {
    color: #000000;
}
.header-link__link {
    @extend %spancolor;
    @extend %fontsizetext;
    @extend %lineheight;
    @extend %texttransform;
    @extend %fontweight;
    
    letter-spacing: 0.7px;
}
.header-title__text {
    @extend %spancolor;
    @extend %texttransform;

    font-size: 90px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 4.96px;
}
.header-title {
    position: relative;
    z-index: 10;
}
.header-title__text-style {
    @extend %displayrow;

    justify-content: flex-end;
    line-height: 100px;
    letter-spacing: 4.5px;
    padding-top: 33px;
}
.header-img__line {
    position: absolute;
    top: -116px;
    left: 392px;
    z-index: -1;
}
.header-img__line320 {
    display: none;
}
.header-block {
    margin-top: 309px;
    margin-bottom: 30px;
}
.header-menu__text {
    @extend %fontsizetext;
    @extend %lineheight;
    @extend %texttransform;

    color: #9071ea;
    font-weight: 300;
    letter-spacing: 0.7px;
    text-decoration: none;
}
.header-menu__list {
    margin-left: 49px;
    &:first-child {
        margin-left: 0px;
    }
}

.header-menu {
    @extend %displayrow;
    
    justify-content: flex-end;
}
.header-buttons {
    @extend %displayrow;

    justify-content: center;
    margin-top: 181px;
    margin-bottom: 110px;
}
.header-button {
    @extend %displayrow;

    width: 311px;
    box-shadow: 0 16px 24px #0a0e34;
    background-color: #5e42b0;
    border-radius: 60px;
    margin-right: 50px;
    align-items: center;
    &:last-child {
        margin-right: 0px;
    }
}
.header-links__text {
    @extend %spancolor;
    @extend %fontsizetext;
    @extend %fontweight;
    @extend %texttransform;

    line-height: 4px;
    letter-spacing: 0.7px;
}

.header-links__text-weight700 {
    font-weight: 700;
}
.header-links__link {
    text-decoration: none;
    margin: 26px 0px 25px 0px;
}
.header-links {
    max-width: 311px;
    width: 100%;
}
.header-button__image {
    width: 33px;
    height: 37px;
    margin: 19px 28px 21px 43px;
}
@media (max-width: 1531px) {
    .header-display {
        min-width: 727px;
        width: 100%;
    }
    .header-title {
        max-width: 592px;
        text-align: start;
        margin: 0px auto;
    }
    .header-title__text {
        font-size: 64px;
        letter-spacing: 3.52px;
    }
    .header-title__text-style {
        margin-left: 108px;
    }
    .header-block {
        margin: 194px 74px 184px;
        min-width: 592px;
    }
    .header-img__line {
        position: absolute;
        top: -43px;
        left: 179px;
        z-index: -1;
    }
    .header-menu {
        justify-content: space-around;
    }
    .header-buttons {
        margin-top: 116px;
        margin-bottom: 0px;
    }
    .header-button {
        width: 311px;
    }
    .header {
        padding-bottom: 91px;
    }
}
@media (max-width: 767px) {
    body {
        min-width: 320px;
    }
    .header-display {
        justify-content: center;
        min-width: 137px;
    }
    .header-link {
        display: none;
    }
    .header-logo {
        margin-left: 0px;
        margin-right: 0px;
    }
    .header-button {
        width: 142px;
        margin-right: 8px;
    }
    .header-button__image {
        width: 15px;
        height: 17px;
        margin: 11px 9px 11px 20px;
    }
    .header-links__text {
        width: 80px;
        font-size: 8px;
        letter-spacing: 0.4px;
        line-height: 1px;
    }
    .header-block {
        margin: 141px 13px 118px 10px;
        min-width: 297px;
        width: 100%;
    }
    .header-title {
        max-width: 297px;
        margin: 0 auto;
    }
    .header-title__text {
        max-width: 238px;
        font-size: 32px;
        line-height: 31.32px;
        letter-spacing: 1.76px;
        margin-right: 0px;
    }
    .header-title__text-style {
        max-width: 242px;
        letter-spacing: 1.6px;
        padding-top: 28px;
        margin-left: 52px;
        margin-right: 0px;;
    }
    .header-menu {
        flex-wrap: wrap;
    }
    .header-menu__text {
        font-size: 12px;
    }
    .header-links {
        max-width: 142px;
        width: 100%;
        line-height: 8px;
    }
    .header-menu__list {
        margin: 0 15px;
    }
    .header-img__line {
        display: none;
    }
    .header-img__line320 {
        display: block;
        position: absolute;
        top: -20px;
        left: 75px;
        z-index: -1;
    }
}

/*main.wrap-cards*/
.wrap-title {
    color: #e7e7e7;
    font-size: 90px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    padding: 112px 0px 30px 0px;
}
.wrap-part__name {
    color: #c1c1c1;
    font-size: 36px;
    font-weight: 700;
    line-height: 34.49px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding-left: 13px;
}
.wrap-part__text {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
}
.wrap-card {
    max-width: 1432px;
    margin: 0 auto;
}
.wrap-part {
    padding: 0px 0 65px 0;
    margin-left: 50%;
    position: relative;
}
.wrap-part-revers {
    margin-left: 0px;
    margin-right: 50%;
}
.wrap-part__image {
    position: absolute;
    top: 26px;
    left: -678px;
    z-index: 15;
}
.wrap-part__image2 {
    position: absolute;
    top: 26px;
    left: 678px;
    z-index: 14;
}
.wrap-block-color2 {
    background-color: #f5f4fa;
    z-index: 0;
}
.wrap-block-color3 {
    background-color: #5e42b0;
    z-index: -1;
}
.wrap-block-color4 {
    background-color: #0a0e34;
}
.wrap-part__text-color {
    color: #ffffff;
}
.card-number__text.card-number__text-black {
    color: #000000;
    font-size: 18px;
}
.card-number__text.card-number__text-9173e6 {
    font-size: 18px;
    color: #9173e6;
}
.card-number__text.card-number__text-9173e6::after {
    content: '';
    display: block;
    background-color: #ffffff;
    opacity: 1;
}
.card-number__text.card-number__text-efefef {
    font-size: 18px;
    color: #000000;
}
.card-number__text.card-number__text-black::after {
    content: '';
    display: block;
    width: 22px;
    height: 5px;
    background-color: #5e42b0;
    opacity: 1;
}
.wrap-part__name::before {
    content: '';
    display: block;
    width: 18px;
    height: 13px;
}
.wrap-part__flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 31px;
    padding-top: 64px;
}
.card-number__text.card-number__text-efefef::after {
    content: '';
    display: block;
    width: 22px;
    height: 5px;
    background-color: #efefef;
    opacity: 1;
}
.wrap-part__line {
    position: absolute;
    top: 52px;
    left: -697px;
    z-index: 10;
}
.wrap-part__lines {
    position: absolute;
    top: 91px;
    left: 858px;
    z-index: 10;
}
.wrap-part__plus {
    position: absolute;
    top: 150px;
    left: -604px;
}
/*main.cards*/
.card {
    display: flex;
    min-height: 730px;
}
.card:nth-child(2n) {
    flex-direction: row-reverse;
}
.card-image {
    @extend %bgrepeat;

    width: 50%;
    background-image: url('../images/card1.png');
    background-position: center;
    background-size: cover;
}
.card-content {
    width: 50%;
    max-width: 765px;
    padding: 257px 10px 122px 128px;
    position: relative;
}
.card:nth-child(2n) .card-content {
    padding: 257px 128px 122px 0px;
}

.card-title__name1 {
    @extend %h2h3color;
    @extend %texttransform;

    opacity: 0.4;
    font-size: 90px;
    font-weight: 700;
    line-height: 60px;
}
.card-description__text {
    @extend %pcolor;
    
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1.2px;
    position: relative;
}
.card-description {
    margin: 119px 0px 87px 0px;
    min-height: 174px;
}
.card-description-width {
    min-width: 322px;
}
.card-description__text::after {
    content: '';
    display: block;
    width: 22px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
    top: 0px;
    left: 0px;
    margin-top: 15px;
}
.card-number {
    width: 168px;
    height: 155px;
    background-color: #5e42b0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 211px;
    left: -84px;
}
.card:nth-child(2n) .card-number {
    left: auto;
    right: -84px;
}
.card-number__text {
    @extend %texttransform;

    color: #f5f6f7;
    font-size: 24px;
    font-weight: 700;
    line-height: 34.49px;
    letter-spacing: 1.2px;
}
.card-number__text::after {
    content: '';
    display: block;
    height: 5px;
    border-radius: 2px;
    background-color: #ffffff;
    opacity: 0.3;
}
.card-image-img2 {
    background-image: url('../images/card2.png');   
}
.card-image-img3 {
    background-image: url('../images/card3.png'); 
}
/*footer*/
.wrap-footer {
    @extend %bgcolorfon;
    @extend %bgrepeat;

    background-image: url('../images/footer-bg.png');
    background-size: cover;
    padding: 229px 12px 0px 12px;
}
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap-link__link {
    width: 755px;
    color: #ffffff;
    font-size: 90px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 4.96px;
    text-decoration: none;
}
.wrap-text__text {
    width: 655px;
    color: #a496ca;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    text-transform: uppercase;
}
.wrap-content {
    padding-left: 34px;
    padding-right: 15px;
    position: relative;
}
.wrap-link {
    position: relative;
    z-index: 16;
}
.wrap-text {
    position: relative;
    z-index: 16;
}
.header-img__line-footer {
    position: absolute;
    top: -38px;
    left: 58px;
    z-index: 5;
}
.header-img__line320-footer {
    position: absolute;
    top: -110px;
    left: 392px;
    z-index: 5;
}
.header-buttons-margin {
    margin-top: 151px;
    margin-bottom: 197px;
}
.wrap2 {

    display: flex;
    justify-content: space-between;
    padding: 70px 0px;
}
.wrap2-container {
    max-width: 1810px;
    margin: 0 auto;
}
.wrap2-link__link {
    width: 310px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
}
.wrap2-fon {
    @extend %bgcolorfon;
}
.wrap-network__link {
    padding-left: 36px;
}